<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <bean name="movie" class="com.RajSoft.beans.Movie">
        <property name="movieName" value="Pushpa-1"/>
        <property name="showTime" value="6:00PM"/>
        <property name="price" value="500"/>
    </bean>
    <!-- target -->
    <bean name="target" class="com.RajSoft.Service.MovieServiceImpl"/>


    <!-- Advice -->
    <bean name="advice" class="com.RajSoft.Advice.MoneyReturnAdvice"/>


    <!-- Proxy -->
    <bean name="proxy" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target" ref="target"/>
        <property name="interceptorNames">
            <list>
                <value>advice</value>
            </list>
        </property>
    </bean>
</beans>
